@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    display: flex;
    justify-content: center;
    background-color: rgb(30,2,53);
}



*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* relacionado a fonts... */


.roboto-nav{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    text-decoration: none;
}

.roboto-nav:hover{
    color:rgb(214,190,102);
}


/* estilizado del header */